$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;
$base-color-text: #444444;
$secondary-color-text: #000000;
$bg-basik-green: #68b738;

$tablet: 768px;
$desktop: 1440px;
