.button {
  font-family: $secondary-font;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $bg-basik-green;
}
