.hero {
  font-family: $secondary-font;
  color: #ffffff;
  background-color: $bg-basik-green;
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
}

.hero__text {
  line-height: 14px;
  text-transform: uppercase;
}
