.partnership__title {
  font-family: $secondary-font;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.partnership__adress {
  line-height: 20px;
  font-style: normal;
}
