.programs-card__title {
  font-family: $secondary-font;
  color: $secondary-color-text;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programs-card__button {
  font-family: $secondary-font;
  color: $secondary-color-text;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}
