.promo {
  background-color: $bg-basik-green;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  &::before {
    content: "";
    background-image: url("../../icons/stack.svg#icon-gift");
    height: 80px;
    width: 78px;
    display: inline-block;
  }
}
