.site-menu {
  position: relative;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet) {
    place-self: center end;
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 2px;
    margin-right: 2px;
    border: none;
  }

  @media (min-width: $desktop) {
    margin-left: 0;
    z-index: 4;
  }
}

.site-menu__item {
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet) {
    border: none;
  }
}

.site-menu__link {
  color: $secondary-color-text;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 21px 5px 24px;
  max-width: 280px;
  margin: 0 auto;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    line-height: 24px;
    font-size: 18px;
    padding: 10px 17px 0;
    box-sizing: border-box;

    &::after {
      content: "";
      height: 2px;
      width: 100%;
      background: transparent;
      margin-top: 10px;
      display: block;
    }
  }

  @media (min-width: $desktop) {
    line-height: 29px;
    font-size: 20px;
  }
}

.site-menu__link--active {
  @media (min-width: $tablet) {
    &::after {
      content: "";
      height: 2px;
      width: 100%;
      background: $bg-basik-green;
      margin-top: 7px;
      display: block;
    }
  }
}

.site-menu__link--light {
  @media (min-width: $desktop) {
    color: #ffffff;
  }
}

.site-menu__link--light.site-menu__link--active {
  &::after {
    @media (min-width: $desktop) {
      background-color: #ffffff;
    }
  }
}
