.slider {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 462px;
    background-color: #eaeaea;
    display: block;
    bottom: 0;
    z-index: -1;
  }

  @media (min-width: $tablet) {
    padding-bottom: 101px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 86px;
    max-height: 512px;

    &::after {
      content: none;
    }
  }
}

.slider__arrow {
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #666666;
  border-radius: 2px;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  display: block;
  border: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;


  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #666666;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
  }

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 18px;
    mask-image: url("../../icons/stack.svg#slider-arrow");
    background-color: #666666;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background-color: $bg-basik-green;

    &::before {
      border-color: $bg-basik-green;
    }

    &::after {
      background-color: $bg-basik-green;
    }
  }

  &:active {
    background-color: $bg-basik-green;
    opacity: 0.6;

    &::before {
      border-color: $bg-basik-green;
    }

    &::after {
      background-color: $bg-basik-green;
    }
  }

  @media (min-width: $tablet) {
    height: calc(100% - 101px);
  }

  @media (min-width: $desktop) {
    height: calc(100% - 84px);
  }
}

.slider__image {
  margin: 0 auto;
  display: block;
}
