.social {
  display: flex;
  gap: 24px;
  list-style-type: none;
}

.social__link--vkontakte {
  mask-image: url("../../icons/stack.svg#vkontakte");
  background-color: #666666;
  height: 22px;
  width: 28px;
  display: inline-block;
}

.social__link--youtube {
  mask-image: url("../../icons/stack.svg#youtube");
  background-color: #666666;
  height: 22px;
  width: 28px;
  display: inline-block;
}

.social__link--telegram {
  mask-image: url("../../icons/stack.svg#telegram");
  background-color: #666666;
  height: 22px;
  width: 28px;
  display: inline-block;
}
