.subscribe__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 40px 0;

  @media (min-width: $tablet) {
    width: 632px;
    padding-bottom: 80px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    padding-bottom: 104px;
  }
}

.subscribe__title {
  position: relative;
  font-family: $secondary-font;
  color: $secondary-color-text;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 32px;
  width: fit-content;
  background-color: #ffffff;
  box-shadow: -40px 0 0 0 #ffffff, 40px 0 0 0 #ffffff;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 100vw;
    height: 2px;
    background-color: $bg-basik-green;
    box-shadow: 100vw 0 0 0 $bg-basik-green;
    z-index: -1;
  }

  @media (min-width: $tablet) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 67px;
    box-shadow: -38px 0 0 0 #ffffff, 42px 0 0 0 #ffffff;
    margin-left: 2px;

    &::before {
      top: 14px;
    }
  }

  @media (min-width: $desktop) {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 73px;
    margin-left: 0;
    box-shadow: -40px 0 0 0 #ffffff, 40px 0 0 0 #ffffff;

    &::before {
      top: 18px;
    }
  }
}

.subscribe__text {
  font-family: $secondary-font;
  color: $secondary-color-text;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  padding: 0 10px;
  margin-bottom: 24px;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 23px;
  }
}
